/* Find the Right Mortgage For You */

#mu-mort-cal {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-mort-cal-area {
	display: inline;
	float: left;
	padding: 57px 0;
	width: 100%;
}

.mu-mort-title {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 35px;
	padding: 0 25%;
}

.mu-mort-title h2 {
	color: #323232;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.mu-mort-title p {
}

.mu-mort-cal-left {
	display: inline;
	float: left;
	padding-right: 15px;
	width: 100%;
}



.mu-mort-cal-right {
	display: inline;
	float: left;
	padding-left: 15px;
	line-height: 30px;
	width: 100%
}

.mu-mort-cal-right ul {}

.mu-mort-cal-right ul li {
	list-style: none;
	float: left;
	margin-bottom: 25px;
}

.mu-mort-cal-right ul li h3 {
	border-bottom: 3px solid #e5e5e5;
	color: #323232;
	font-size: 20px;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.mu-mort-cal-right p {
	font-size: 22px;
}

/* .mu-skills-area {
	padding: 0 60px 0 60px;
} */ 

#mu-skills:before{

}

.mu-single-team-content h3{
	text-align:left;
}

ul li{
	margin-left:23px;
}


/* Center paragraph */
#para-center{
    background: #f4f4f4;
    text-align: center;
    font-size: 20px;
}

/*--------------------*/
/* BILLS REDUCE */
/*--------------------*/

#mu-bills-reduce {
	display: inline;
	float: left;
	width: 100%;
	padding: 100px 0 50px;
	text-align: center;
}

.mu-bills-reduce-service-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-bills-reduce-service-content {
	display: inline;
	float: left;
	width: 100%;
}

.mu-bills-reduce-service-content img {
	border: none;
	max-width: 55%;
	text-align: center;
}



.mu-bills-redice-single-service {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
}

.mu-bills-reduce-single-service-icon {
	background-color: #0091ea;
	border-radius: 50%;
	color: #fff;
	display: inline;
	font-size: 18px;
	float: left;
	height: 48px;
	width: 48px;
	text-align: center;
	line-height: 48px;
	margin-right: 20px;
}

.mu-bills-reduce-single-service-icon .fa {

	
}

.mu-bills-reduce-single-service-content {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}

.mu-bills-reduce-single-service-content h3 {
	color: #323232;
	line-height: 56px;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}


.mu-bills-reduce-single-service-content p {
	font-size: 14px;
	text-align: center;
}


#mu-bills-reduce-works {
	display: inline;
	float: left;
	width: 100%;
	padding: 100px 0 50px;
}

.mu-bills-reduce-works-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-bills-reduce-works-content {
	display: inline;
	float: left;
	width: 100%;
}

.mu-bills-reduce-works-service {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
}

.mu-bills-reduce-single-works-icon {
	background-color: #0091ea;
	border-radius: 50%;
	color: #fff;
	display: inline;
	font-size: 18px;
	float: left;
	height: 48px;
	width: 48px;
	text-align: center;
	line-height: 48px;
	margin-right: 20px;
}

.mu-bills-reduce-single-works-icon .fa {
	
}

.mu-bills-reduce-single-works-content {
	display: inline;
	float: left;
	width: 80%;
}

.mu-bills-reduce-single-works-content h3 {
	color: #323232;
	text-transform: uppercase;
	font-size: 18px;
}

.mu-bills-reduce-single-works-content p {
	font-size: 14px;
}

#para-center {
	/* background-image: url("assets/images/newsletter-bg.jpg"); */
	background-position: center center;
	background-size: cover;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}


#para-center::before {
	background: #1994bd;
	bottom: 48px;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.8;
	z-index: 10;
}


.para-center-area {
	display: inline;
	float: left;
	position: relative;
	width: 100%;
	padding: 75px 0;
	z-index: 20;
}

.para-center-area .mu-title h2 {
	color: #fff;
}

.para-center-area .mu-title p {
	color: #000;
}

.para-center-content {
	display: inline;
	float: left;
	margin-top: 10px;
	width: 100%;
	padding: 0 28%;
}

.para-center-form {
	position: relative;
}

.para-center-form input {
	width: 100%;
	height: 60px;
	border-radius: 25px;
	border: none;
	padding: 0 170px 0 20px;
	font-size: 14px;
	color: #000;
}

.para-center-btn {
	background-color: #0091ea;
	color: #fff;
	font-size: 18px;
	position: absolute;
	right: 6px;
	top: 6px;
	height: 48px;
	width: 160px;
	cursor: pointer;
	border-radius: 24px;
	text-transform: uppercase;
	font-weight: 700;
}


#mu-bills {
	display: inline;
	float: left;
	width: 100%;
	/* padding: 100px 0 50px; */
}

.mu-bills-service-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-bills-service-content {
	display: inline;
	float: left;
	width: 100%;
}

.mu-bills-single-service {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
}

.mu-bills-single-service-icon {
	background-color: #ffc107;
	border-radius: 50%;
	color: #fff;
	display: inline;
	font-size: 18px;
	float: left;
	height: 48px;
	width: 48px;
	text-align: center;
	line-height: 48px;
	margin-right: 20px;
}


#mu-works {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
	padding:3px 0 70px 0;
}

.mu-works-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-works-title {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 35px;
	padding: 0 25%;
}

.mu-works-title h2 {
	color: #323232;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.mu-works-title p {

}

.mu-works-left {
	display: inline;
	float: left;
	/* padding-right: 15px; */
	width: 100%;
}

.mu-works-left h1{
	/* text-align:left !important; */
	font-size:32px;
}






@media (max-width: 767px){
	.mu-works-left h1{
		text-align:center;
		font-size:22px;
	}

	/* .mu-skills-area{
		padding: 11px 12px;
	} */
}



.mu-works-right {
	display: inline;
	float: left;
	/* padding-left: 15px; */
	width: 100%
}

.mu-works-right ul {}

.mu-works-right ul li {
	list-style: none;
	float: left;
	margin-bottom: 25px;
}

.mu-works-right ul li h3 {
	border-bottom: 3px solid #e5e5e5;
	color: #323232;
	font-size: 20px;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.mu-works-right p {
	font-size: 16px;
}



#mu-footer {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-footer-title {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 35px;
	padding: 0 25%;
}

.mu-footer-title h2 {
	color: #323232;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.mu-footer-title p {

}

.mu-footer-left {
	display: inline;
	float: left;
	padding-right: 15px;
	width: 100%;
}

.mu-footer-right {
	display: inline;
	float: left;
	padding-left: 15px;
	width: 100%
}

.mu-footer-right ul {}

.mu-footer-right ul li {
	list-style: none;
	float: left;
	margin-bottom: 25px;
}

.mu-footer-right ul li h3 {
	border-bottom: 3px solid #e5e5e5;
	color: #323232;
	font-size: 20px;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.mu-footer-right p {
	font-size: 16px;
}


.mu-bills-single-service-icon .fa {
	
}

.mu-bills-single-service-content {
	display: inline;
	float: left;
	width: 80%;
}

.mu-bills-single-service-content h3 {
	color: #323232;
	text-transform: uppercase;
	font-size: 18px;
}

.mu-bills-single-service-content p {
	font-size: 14px;
}

@media (max-width: 767px) {
.mu-bills-single-service-content  {
    margin-left: 20px;
}

@media (max-width:767px){
	.btn-primary{
		text-align:center;
	}
	.custom-select{
		font-size:13px;
		margin-left: -6px;
	}

	.btn-primary:disabled{
		width: 94px;
	}
}

@media (max-width: 991px) {
.mu-bills-single-service-content {
    width: 70%;
    margin-left: 15px;
}

@media (max-width: 1199px) {
.mu-bills-single-service-content h3 p {
    /* width: 78%; */
		/* margin-left: 40px; */
		width: 80%;
		margin-left:-5px;
}

.mu-single-service-content {
    display: inline;
    float: left;
    width: 80%;
}

table{
    border: 1px solid black;
	width: 1000px;
	height: 10%;
}
th{
	width: 900px;
	
}

.container {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: initial;
		width: auto;
    /* opacity: 0; */
    /* cursor: pointer; */
}



/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}